.appContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #F8F9FB;
  overflow: hidden;
}

.mainContent {
  display: block;
  flex: 1;
  margin-left: 94px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: transparent;
  transition: margin-left 0.3s ease;
}

.pageWrapper {
  padding: 32px 80px;
  min-height: min-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.shifted {
  margin-left: 300px;
}
