.secondaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 140px;
    max-width: fit-content;
    padding: 0 16px;
    height: 42px;
    border: none;

    --btn-color: rgba(112, 45, 255, 0.9);
    --btn-color-hover: #702DFF;
    --btn-bg: rgba(112, 45, 255, 0.1);
    --btn-bg-hover: rgba(112, 45, 255, 0.18);
    --btn-bg-active: rgba(112, 45, 255, 0.25);

    background-color: var(--btn-bg);
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--btn-color);
    cursor: pointer;
    transition: all 0.15s ease;
    box-sizing: border-box;
    flex-shrink: 0;
}

.secondaryButton:hover:not(:disabled) {
    background-color: var(--btn-bg-hover);
    color: var(--btn-color-hover);
}

.secondaryButton:active:not(:disabled) {
    background-color: var(--btn-bg-active);
}

.secondaryButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #f7fafc;
    color: #a0aec0;
}

.secondaryButton svg path {
     stroke: currentColor;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.iconWrapper svg,
.contentWrapper svg {
    width: 20px;
    height: 20px;
    display: block;
}