.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.tabContainer {
    width: 100%;
}

.infoGrid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 320px;
}