# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

# TypeScript cache
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Prisma (Ignore local SQLite DBs if you ever prototype, but DO NOT ignore prisma/migrations/)
*.db
*.db-journal

# IDEs and OS files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db