.sidebarWrapper {
    width: 100%;
    max-width: 320px;
}

.cardCustom {
    padding-bottom: 24px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkboxesGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
}