.container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E5E7EB;
    cursor: pointer;
    background-color: transparent;
}

.container:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.container:first-child {
    padding-top: 0;
}

.container:hover {
    opacity: 0.7;
}

.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.icon path {
    stroke: #202020;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: 'Inter', sans-serif;
}

.title {
    font-size: 14px;
    font-weight: 500;
}

.subtitle {
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
}